[class^="od-icon-"],
[class*=" od-icon-"] {
  font-family: "od";
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.od-icon-object {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe800;&nbsp;"
  );
}
