:root {
  --color-button-hover: #fbdbc0;
}

html,
body,
#canvas {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bottom-buttons {
  bottom: 20px;
  left: 20px;
}

.bottom-buttons a:hover,
.ojs-buttons-active:hover {
  background-color: var(--color-button-hover);
  transition: background-color 0.2s linear;
}

.bottom-buttons a.active {
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

/* screen interaction helpers & modal */

#io-dialog-main {
  display: none; /*default*/
}

#io-editing-tools-buttons {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 0;
}

.icon-keyboard::before {
  content: "\e802";
}

.icon-resize-full::before {
  content: "\e801";
}

.keybindings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  align-items: center;
}

.binding {
  font-family: monospace;
}
