:root {
  --color-button-hover: #fbdbc0;
}

html,
body,
#canvas {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bottom-buttons {
  bottom: 20px;
  left: 20px;
}

.top-right {
  position: fixed;
  font-weight: bold;
  top: 60px;
  right: 15px;
}

.previous-state {
  left: 35%;
  bottom: 20px;
}

.current-state {
  position: fixed;
  left: 49.5%;
  bottom: 25px;
}

.disabled {
  opacity: 0.4;
}

.pjs-buttons-active:hover,
.previous-state button:hover,
.next-state button:hover,
.bottom-buttons a:hover {
  background-color: var(--color-button-hover);
  transition: background-color 0.2s linear;
}

.next-state {
  left: 65%;
  bottom: 20px;
}

.bottom-buttons a.active {
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

/* screen interaction helpers & modal */

#io-dialog-main,
#help-dialog-main {
  display: none; /*default*/
}

#io-editing-tools-buttons {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.icon-image {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-image::before {
  content: "\e807";
  display: inline-block;
}

.icon-download {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
}

.icon-download::before {
  content: "\e808";
  display: inline-block;
}

.icon-edit {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
}

.icon-edit::before {
  content: "\e806";
  display: inline-block;
}

.icon-keyboard {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-keyboard::before {
  content: "\e802";
  display: inline-block;
  line-height: 1.2em;
}

.icon-resize-full {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
}

.icon-resize-full::before {
  content: "\e801";
  display: inline-block;
}

.icon-question {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-question::before {
  content: "\e803";
  display: inline-block;
}

.keybindings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: 10px;
}

.binding {
  font-family: monospace;
}

.marker {
  background-color: rgb(128, 128, 128);
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-added::before {
  font-family: "Font Awesome 5 Free Solid", serif;
  line-height: 1.2em;
  content: "\e800";
  display: inline-block;
}

.marker.marker-added {
  background: #54b415;
}

.marker-changed::before {
  font-family: "Font Awesome 5 Free Solid", serif;
  font-size: 0.85em;
  content: "\e806";
  display: inline-block;
}

.marker.marker-changed {
  background: #ef944e;
}

#help-dialog-content {
  width: 490px;
}

#help-dialog-content > ul {
  list-style-type: square;
}

/* margin-top but not on the last element */
#help-dialog-content > ul > li + li {
  margin-top: 5px;
}
